#OS junk files
[Tt]humbs.db
*.DS_Store

training_data/
__pycache__/
train_data.p
cmake-3.8.1-Linux-x86_64/
Docs/
ide_profiles/
cmake
cmake-3.8.1-Linux-x86_64.sh
install-ubuntu.sh
install-mac.sh


#LaTeX 
*.aux
*.log
*.nlo
*.out
*.gz
*.toc